.navbar {
    background-color:$sub-color;
    border:1px solid $sub-color;
    border-radius:0;
    margin-bottom: 0;
    .navbar-brand {
        color:$main-color;
    }
}
.navbar-default {
    .navbar-nav {
        & > li {
            & > a {
                color:#fff;
                margin-right:5px;
                display:inline-block;
                transition:all .5s ease-in-out;
                &:hover{
                    color:$main-color;
                }
            }
            & > a.btn {
                border-radius: 0;
            }
            & > a.btn-primary {
                background-color:$main-color;
                border:1px solid $main-color;
                &:hover {
                    color:#fff;
                }
            }
            & > a.btn-success:hover {
                background-color: #5cb85c;
                opacity:.9;
                &:hover {
                    color:#fff;
                }
            }
            
        }
    }
}